/* banner */
.banner{
	width: 750rpx;
	height: 567rpx;
	position: relative;
}
.banner image{
	display: block;
	width: 100%;
	height: 100%;
}
.down-ico{
	width: 40rpx;
	height: 40rpx;
	background: url(../../images/casedetail/down-ico.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 50%;
	margin-left: -20rpx;
	bottom: -20rpx;
}
/* 内容 */
.detail-box{
	text-align: center;
	padding-top: 90rpx;
}
.detail-box>.h3{
	font-size: 50rpx;
	color: #000000;
	line-height: 50rpx;
	font-weight: 700;
	margin-bottom: 28rpx;
}
.detail-box>.h3 text{
	color: #f5a100;
	margin-right: -12rpx;
}
.detail-box>.h4{
	font-size: 36rpx;
	color: #000000;
	line-height: 36rpx;
}
.detail-item{
	padding-top: 100rpx;
}
.detail-item.pt62{
	padding-top: 62rpx;
}
.detail-item>.h5{
	font-size: 32rpx;
	color: #000000;
	line-height: 32rpx;
	margin-bottom: 54rpx;
}
.detail-item>.h6{
	font-size: 47rpx;
	color: #000000;
	line-height: 47rpx;
	margin-bottom: 58rpx;
}
.detail-item>.p{
	font-size: 32rpx;
	color: #000000;
	line-height: 32rpx;
	margin-bottom: 40rpx;
}
.detail-img{
	width: 750rpx;
	height: 480rpx;
	margin-top: 60rpx;
	position: relative;
}
.detail-img image{
	display: block;
	width: 100%;
	height: 100%;
}
.item-ico{
	display: block;
	width: 21rpx;
	height: 67rpx;
	background: url(../../images/casedetail/item-ico.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 50%;
	margin-left: -10.5rpx;
	top: -27rpx;
}
.detail-btn-box{
	text-align: center;
	padding-top: 122rpx;
}
.detail-btn-box .h4{
	font-size: 47rpx;
	color: #000;
	line-height: 47rpx;
	margin-bottom: 60rpx;
}
.detail-btn-box .p{
	font-size: 32rpx;
	color: #000000;
	line-height: 32rpx;
	margin-bottom: 40rpx;
}
.detail-btn{
	display: block;
	margin: 0 auto;
	margin-top: 81rpx;
	width: 370rpx;
	height: 86rpx;
	background: #ffb605;
	border-radius: 40rpx;
	text-align: center;
	line-height: 86rpx;
	color: #000;
	font-size: 32rpx;
}
.pb80{
	padding-bottom: 80rpx;
}